body {
	margin: 0;
}

.notification {
	user-select:   none;
	position:      fixed;
	top:           5vh;
	left:          50%;
	transform:     translateX(-50%);
	box-shadow:    0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	min-width:     300px;
	max-width:     590px;

	&__wrapper {
		&_hidden {
			display: none;
		}
	}

	&__background {
		background: #000;
		opacity:    .2;
		position:   fixed;
		width:      100%;
		height:     100%;
	}

	&_hidden {
		display: none;
	}

	&-content {
		padding:    15px;
		background: white;

		&__text {
			font-size:  16px;
			margin-top: 0;;
		}

		&__controls {
			display: flex;
		}

		&-button {
			width:      50%;
			text-align: center;
			color:      #ccc;
			padding:    15px 8px;
			transition: .3s background;
			cursor:     pointer;

			&_accept {
				color:      #4ba36b;
				background: #ccf0d4;

				&:hover {
					background: #6fb37d;
					color:      white;
				}
			}

			&_undo {
				background: #f0f0f0;
				color:      black;

				&:hover {
					color:      #de1436;
					background: #f5dcd7;
				}
			}
		}
	}
}

.show-button {
	display:       block;
	margin-top:    5vh;
	width:         200px;
	padding:       5px;
	border:        1px solid gray;
	text-align:    center;
	margin-right:  auto;
	margin-left:   auto;
	cursor:        pointer;
	border-radius: 8px;
}

@media (max-width: 319px) {
	.notification {
		min-width: 0;
	}
}
